node_modules/
dist/
package-lock.json
templates
static/pages/sidebar.html
static/pages/modSidebar.html
static/css
static/wasm
static/pages
static/src
static/js
static/katex/**/*.js
static/katex/**/*.mjs
static/katex/**/*.map
static/katex/katex.css
src/scss/_variables.scss
.cache_timestamp
!*.gitkeep
config/kohlnumbra.json
