{% extends "base.njk" %}

{% block extraHead %}
<title>404 - Not Found</title>
{% endblock %}

{% block content %}
<header>
  <img src="/.static/images/404.png" class="notFoundImg" alt="">
  <h2>404</h2>
  <p>Error: Not Found</p>
</header>
{% endblock %}
