{% extends 'static/pages/sidebar.njk' %}

{% block extraHead %}
<style>
body {
  margin-bottom: 2em  !important;
}
.menu_title {
  background: #E04000;
}

h2 {
  background: #E04000;
}

ul.boardlist li {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
}

body {
  margin-bottom: 2em;
}

ul.boardlist li:hover,
ul.toplist li:hover {
  background: #dddddd;
}
</style>
{% endblock %}

{% block top %}
<div class="menu_title">KC-MOD</div>
<ul class="toplist">
  <li><a class="system" href="/index.html">Home</a></li>
  <li><a class="system" href="/account.js">Account</a> (<a class="system" href="/logout.js">Logout</a>)</li>
  <li><a class="system" href="/postbox.js">Private Messages</a></li>
  <li><a class="system" href="/inner/">Inner board</a></li>
  <li><a class="system" href="/nvip">NVIP</a></li>
  <li><a class="system" href="/graphs.js">Graphs</a></li>
  <li><a class="system" href="/logs.js">Global Logs</a></li>
</ul>
<h2>Postings</h2>
<ul class="toplist">
  <li><a class="system" href="/latestPostings.js">Latest Postings</a></li>
  <li><a class="system" href="/trashBin.js">Trash Bin</a></li>
</ul>
<h2><a style="color: #fff" href="/globalManagement.js">Global Management</a></h2>
<ul class="toplist">
  <li><a class="system" href="/openReports.js">Open reports</a></li>
  <li><a class="system" href="/appealedBans.js">Appealed bans</a></li>
  <li><a class="system" href="/bans.js">Bans</a></li>
  <li><a class="system" href="/rangeBans.js">Range bans</a></li>
  <li><a class="system" href="/asnBans.js">ASN bans</a></li>
  <li><a class="system" href="/hashBans.js">Hash bans</a></li>
  <li><a class="system" href="/mediaManagement.js">Media management</a></li>
  <li><a class="system" href="/closedReports.js">Closed reports</a></li>
</ul>
{% endblock %}

{% block boardLink %}
<a style="text-decoration-line: none; {{ 'display: none;' if '+' in board.uri }}" href="/boardManagement.js?boardUri={{ board.uri | e }}">⚙</a> <a style="margin: 0;" href="/{{ board.uri | e }}/">/{{ board.alt if board.alt else board.uri | e }}/ - {{ board.title | e }}</a>
{% endblock %}
