{% from 'macros.njk' import script, style with context %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ config.sitename | upper }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    {{ style('/.static/css/sidebar.css') }}
    {{ style('/.static/css/style.css') }}
    {% block extraHead %}
    {{ script('/.static/js/radio.js') }}
    {{ script('/.static/js/themeLoader.js') }}
    <style>
body {
  margin-bottom: 5px !important;
}
.menu_title {
  background: #313370;
}

h2 {
  background: #313370;
}

ul.boardlist li:hover,
ul.toplist li:hover {
  background: #dddddd;
}

.hiddenCategory {
  display: none !important;
}
    </style>
    {% endblock %}
    <style>
{% for category in config.navigation.categories %}
{% if category.expanded | default(true) %}{% set value1 = 'block' %}{% set value2 = 'none' %}{% else %}{% set value1 = 'none' %}{% set value2 = 'block' %}{% endif %}
#show-{{ category.name | e }}:checked~.remove-check {
  display: {{ value1 }};
}
#show-{{ category.name | e }}:checked~#{{ category.name | e }}-category {
  display: {{ value2 }};
}
#{{ category.name | e }}-category {
  display: {{ value1 }};
}
{% endfor %}
    </style>
    <base target="main">
  </head>
  <body class="no_theme">
    {% block top %}
    <label for="show-main"><div class="menu_title">MODCHAN</div></label>
    <input type="checkbox" id="show-main" role="button">
    <div id="main-category">
      <ul class="toplist">
        <li><a class="system" href="/index.html">Home</a></li>
        <li><a class="system" href="/boards.js">Boards</a></li>
        <li><a class="system" href="/globalRules.html">Rules</a><span class="slash">/</span><a class="system" href="/privacy.html">Privacy</a></li>
        <li><a class="system" href="/info.html">Info</a></li>
      </ul>
    </div>
    {% endblock %}
    {% for category in config.navigation.categories %}
    <div class="{{ 'hiddenCategory' if category.hidden }}">
      <label for="show-{{ category.name | e }}"><h2>{{ category.name | e }}</h2></label>
      <input type="checkbox" id="show-{{ category.name | e }}" role="button">
      <div id="{{ category.name | e }}-category">
        <ul class="boardlist">
          {% for board in category.boards %}
          <li>
            {% block boardLink %}
            <a href="/{{ board.uri | e }}/">/{{ board.alt if board.alt else board.uri | e }}/ - {{ board.title | e }}</a>
            {% endblock %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    {% block bottom %}
    <span class="boardsoftware">LynxChan 2.7 + KohlNumbra</span>
    {% endblock %}
  </body>
</html>
