<header class="boardHeader">
  <a href=".">
    <img src="/randomBanner.js" id="bannerImage" alt="">
  </a><br>
  <h1 id="catalogId">
    <span class="title">{{ lang.catalogOf }} </span><a href="index.html"><span id="labelBoard"></span></a>
  </h1>
</header>
