<header class="boardHeader" style="margin-bottom: 0;">
  <img id="bannerImage" alt=""><br>
  <h1 style="margin-bottom: 0;"><span id="labelName"></span></h1>
  <div id="panelMessage">
    <div id="divMessage"></div>
  </div>
</header>
