<div id="postModerationFields">
  <input id="togglereport" type="checkbox" style="visibility:hidden">
  <label class="reportdeletebuttons brackets" for="togglereport">{{ lang.reportDelete }}</label><br>
  <div class="reportdelete">
    <div class="contentAction">
      <label>
        {{ lang.password }}
        <input type="text" class="deletionField" id="deletionFieldPassword" name="password">
      </label>
      <label title="Removes the file reference to the posts">
        <input type="checkbox" class="deletionField" id="checkboxOnlyFiles" name="deleteUploads">
        {{ lang.file }}
      </label>
      <label title="Removes the saved files from the server">
        <input type="checkbox" class="deletionField" id="checkboxMediaDeletion" name="deleteMedia">
        {{ lang.media }}
      </label>
      <button type="submit" id="deleteFormButton" value="delete" name="action">{{ lang.delete }}</button>
      <button type="submit" id="trashFormButton" value="trash" name="action">{{ lang.trash }}</button>
    </div>
    <div class="contentAction">
      <label>
        {{ lang.reason }}
        <input type="text" class="reportField" id="reportFieldReason" name="reasonReport">
      </label>
      <label id="reportCategoriesDiv">
        {{ lang.category }}
        <select class="reportField" id="reportComboboxCategory" name="categoryReport"></select>
      </label>
      <label>
        <input type="checkbox" class="reportField" id="checkboxGlobalReport" name="globalReport">
        {{ lang.violatesGlobalRules | replace('__globalRules__', "<a target='_blank' href='/.static/pages/globalRules.html'>" + lang.globalRules + "</a>") | safe }}
      </label>
      <button type="submit" id="reportFormButton" value="report" name="action">{{ lang.report }}</button>
      <div id="divReportCaptcha">
        <input name="captcha" type="text" class="captchaField reportField" id="fieldCaptchaReport" placeholder="{{ lang.captchaAnswer }}" autocomplete="off">
        <a href="/noCookieCaptcha.js">{{ lang.noCookies }}</a>
        <br>
        <a id="cLink" href="/captcha.js" target="_blank">
          <img class="captchaImage" id="captchaImageReport" alt="{{ lang.clickHereForCaptcha }}">
        </a>
        <br>
        <span class="captchaTimer"></span>
      </div>
    </div>
  </div>
</div>
