<span id="navOptionsSpanCatalog">
  <span>[</span>
  <a id="settingsButton"></a>
  <!-- <a href="index.rss" id="linkRss">RSS</a> <span>/</span>  -->
  <a href="./catalog.html" class="navCatalog">{{ lang.catalog }}</a>
  <span>/</span>
  <a href="/index.html">{{ lang.home }}</a>
  <span>]</span>
</span>
