<span id="navOptionsSpan">
  <span>[</span>
  <a id="settingsButton"></a>
  <a href="/index.html">{{ lang.home }}</a>
  <span>]</span>
  <a id="linkOverboard" style="display: none;">nvip</a>
  <a id="linkSfwOver" style="display: none;"></a>
</span>
