{% extends "base.njk" %}

{% block content %}
<header>
  <h1>Accounts</h1>
</header>
<div class="mCard">
  <h2>Add Account</h2>
  <div>
    <form action="/addAccount.js" method="post" enctype="multipart/form-data">
      <input type="text" id="fieldLogin" name="login" class="addAccountField" placeholder="login">
      <input type="text" id="fieldEmail" class="addAccountField" name="email" placeholder="e-mail">
      <input type="password" id="fieldPassword" class="addAccountField" name="password" placeholder="password">
      <button id="addAccountFormButton" type="submit">Add Account</button>
    </form>
  </div>
</div>
<div class="mCard">
  <h2>Existing Accounts</h2>
  <div id="divAccounts" class="linkList mBody"></div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/accounts.js') }}
{% endblock %}
