{% extends "base.njk" %}

{% block content %}
<header>
  <h1>
    <span id="labelLogin"></span>
    (<span id="labelGlobalRole"></span>)
    <form action="/logout.js">
      <button id="logoutFormButton" type="submit">Logout</button>
    </form>
  </h1>
</header>
<div id="confirmationForm" class="mCard">
  <h2>E-Mail confirmation</h2>
  <div>
    <form action="/requestEmailConfirmation.js" method="post" enctype="multipart/form-data">
      <p>Your e-mail haven't been confirmed yet.</p>
      <p>You won't be able to reset your password or receive report notifications until doing so.</p>
      <button type="submit" id="requestConfirmationFormButton">Request confirmation e-mail</button>
    </form>
  </div>
</div>
<div class="mCard">
  <h2>Quick Links</span></h2>
  <div class="mLinks">
    <a href="/globalManagement.js" id="globalManagementLink">Global Management</a>
    <a href="/latestPostings.js" id="latestPostingsLink">Latest postings</a>
  </div>
</div>
<div class="mCard">
  <h2>My Boards</h2>
  <div id="ownedDiv" class="mBody mLinks"></div>
</div>
<div class="mCard">
  <h2>Volunteered Boards</h2>
  <div id="volunteeredDiv"></div>
</div>
<div class="mCard labelTable">
  <h2>Create Board</h2>
  <div id="boardCreationDiv">
    <form action="/createBoard.js" enctype="multipart/form-data" method="post">
      <label>
        <input placeholder="URI" type="text" class="creationField" name="boardUri" id="newBoardFieldUri" autocomplete="off">
      </label>
      <label>
        <input placeholder="Name" type="text" class="creationField" name="boardName" id="newBoardFieldName" autocomplete="off">
      </label>
      <label>
        <input placeholder="Description" class="creationField" type="text" name="boardDescription" id="newBoardFieldDescription" autocomplete="off">
      </label>
      <div class="captchaDiv">
        <img src="/captcha.js" class="captchaImage" id="captchaImage" alt="">
        <span class="captchaTimer"></span>
        <br>
        <input type="text" class="captchaField creationField" name="captcha" id="fieldCaptcha" placeholder="answer" autocomplete="off">
        <a href="/noCookieCaptcha.js" class="small">no cookies?</a>
      </div>
      <button type="submit" id="newBoardFormButton">Create board</button>
    </form>
  </div>
</div>
<div class="mCard labelTable">
  <h2>Change Settings</h2>
  <div>
    <form action="/changeAccountSettings.js" method="post" enctype="multipart/form-data">
      <label><input type="checkbox" class="settingsField" name="alwaysSignRole" id="checkboxAlwaysSign">
        Always use role signature
      </label>
      <label>
        <input type="checkbox" class="settingsField" name="noSettingsPassword" id="checkboxNoSettingsPassword">
        Disable password confirmation at global or account settings
      </label>
      <label><input type="checkbox" class="settingsField" name="reportNotify" id="checkboxReportNotify">
        Receive e-mail report notifications
      </label>
      <label>
        <input type="checkbox" class="settingsField" name="noBoardReports" id="checkboxNoBoardReports">
        Don't show board reports on the global list
      </label>
      <label>Email Address: <input type="email" name="email" class="settingsField" id="emailField" placeholder="Optional"></label>
      <div id="reportFilterDiv"> Filter report notifications:</div>
      <label id="divSettingsPassword">
        <input type="password" class="settingsField" name="password" id="fieldPasswordConfirmation" placeholder="password">
      </label>
      <button type="submit" id="saveFormButton">Change settings</button>
    </form>
  </div>
</div>
<div class="mCard labelTable">
  <h2>Change Password</h2>
  <div>
    <form action="/changeAccountPassword.js" method="post" enctype="multipart/form-data">
      <label>
        Current Password:
        <input type="password" class="passwordChangeField" name="password" id="fieldPassword"></label>
      <label>
        New Password:
        <input type="password" class="passwordChangeField" name="newPassword" id="fieldNewPassword">
      </label>
      <label>
        Confirm New Password:
        <input type="password" class="passwordChangeField" name="confirmation" id="fieldConfirmation">
      </label>
      <button type="submit" id="passwordFormButton">Change password</button>
    </form>
  </div>
</div>
<div class="mCard labelTable">
  <h2>Delete Account</h2>
  <div>
    <form action="/deleteAccount.js" method="post" enctype="multipart/form-data">
      <label>
        <input id="confirmationCheckbox" type="checkbox" class="deleteAccountField" name="confirmation">
        Yes, I wish to delete my account.
      </label>
      <button id="deleteAccountFormButton" type="submit">Delete account</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/account.js') }}
{{ script('/.static/js/captchaUtils.js') }}
{% endblock %}
