{% extends "base.njk" %}

{% block content %}
<header>
  <h1>Banner Management</h1>
</header>
<div class="mCard">
  <h2>New Banner</h2>
  <div>
    <form action="/createBanners.js" method="post" enctype="multipart/form-data">
      <input type="hidden" name="boardUri" id="boardIdentifier">
      <input type="file" id="files" multiple name="files">
      <button type="submit" id="addFormButton">Add banners</button>
      <p>Maximum size allowed: <span id="maxSizeLabel"></span></p>
      <p id="maxBannerDiv">
      Maximum banners allowed: <span id="maxBannerLabel"></span>
      </p>
    </form>
  </div>
</div>
<div class="mCard">
  <h2>Banner list</h2>
  <div id="bannersDiv" class="banners"></div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/bannerManagement.js') }}
{% endblock %}
