{% extends "base.njk" %}

{% block content %}
<header>
  <h1>Bans</h1>
</header>
<div class="mCard">
  <h2>Ban list</h2>
  <div id="bansDiv"></div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/bans.js') }}
{% endblock %}
