{% extends "./base.njk" %}

{% block topRightBar %}
{% include 'navbars/rightBarBoard.njk' %}
{% endblock %}

{% block content %}
{% include './content/boardHeader.njk' %}
<div id="postingForm">
  <hr>
  <form action="/newThread.js" enctype="multipart/form-data" method="post">
    {% include './content/postingForm.njk' %}
  </form>
</div>
<div id="threadList" class="boardThreadList">
  <form action="/contentActions.js" method="post" enctype="multipart/form-data">
    <div id="divThreads"></div>
    <hr class="clearer">
    <div class="threadPages">
      <span class="divPages">
        <span id="pages">{{ lang.pages }}: </span>
        <a id="linkPrevious" class="brackets">{{ lang.previous }}</a>
        <span id="divPages"></span>
        <a id="linkNext" class="brackets">{{ lang.next }}</a>
        <a href="catalog.html" class="catalogLinks navCatalog brackets">{{ lang.catalog }}</a>
      </span>
    </div>
    {% include './content/moderationFields.njk' %}
    {% include './content/divMod.njk' %}
</div>
{% endblock %}

{% block contentLinks %}
<span>[</span>
<a id="linkManagement">{{ lang.manageBoard }}</a>
<span>/</span>
<a id="linkMod">{{ lang.moderateThreads }}</a>
<span>]</span>
<a class="brackets" id="linkModeration">{{ lang.moderateBoard }}</a>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/categories.js') }}
{{ script('/.static/js/polyfill.js') }}
{{ script('/.static/js/crypto.js') }}
{{ script('/.static/js/dynDel.js') }}
{{ script('/.static/js/postCommon.js') }}
{{ script('/.static/js/captchaModal.js') }}
{{ script('/.static/js/preview.js') }}
{{ script('/.static/ruffle/ruffle.js') }}
{{ script('/.static/js/thumbs.js') }}
{{ script('/.static/js/posting.js') }}
{{ script('/.static/js/board.js') }}
{{ script('/.static/js/tooltips.js') }}
{{ script('/.static/js/captchaUtils.js') }}
{{ script('/.static/js/embed.js') }}
{{ script('/.static/js/expandComment.js') }}
{{ script('/.static/js/hiding.js') }}
{{ script('/.static/js/mediaHiding.js') }}
{{ script('/.static/js/postingMenu.js') }}
{{ script('/.static/js/oekaki.js') }}
{{ script('/.static/js/tipping.js') }}
{% endblock %}
