{% extends "base.njk" %}

{% block content %}
{% include 'content/menuHeader.njk' %}
<div id="subpageWrapper">
  <h2>Boards</h2>
  <div>
    <div class="search">
      <form action="/boards.js" method="get">
        <!-- <input type="text" name="boardUri" placeholder="board"> -->
        <!-- <input type="text" name="tags" placeholder="tags"> -->
        <select name="sorting">
          <option value=''>Most popular</option>
          <option value='1'>Least popular</option>
          <option value='2'>Most posts first</option>
          <option value='3'>Least posts first</option>
          <option value='4'>Highest PPH first</option>
          <option value='5'>Lowest PPH first</option>
          <option value='6'>Alphabetic order</option>
          <option value='7'>Reverse alphabetic order</option>
        </select>
        <input type="submit" value="Sort" id="searchButton">
        <br>
        <!--
          <input type="checkbox" name="sfw" id="sfw">
          <label for="sfw">SFW boards only</label>
          <input type="checkbox" name="inactive" id="inactive">
          <label for="inactive">Abandoned boards only</label>
        -->
      </form>
    </div>
    <div id="divBoards">
      <div id="divBoardsLegend">
        <span class="cellComponent">Name</span>
        <span class="cellComponent" style="display: none;">Tags</span>
        <span id="labelPPH" class="cellComponent">PPH</span>
        <span id="labelPosts" class="cellComponent">Posts</span>
        <span id="labelUsers" class="cellComponent">Users</span>
      </div>
    </div>
    <div class="boardsPagination">
      <span class="boardPages">
        [ <div id="divPages"></div> ]
      </span>
    </div>
  </div>
</div>
{% endblock %}
