{% extends "base.njk" %}

{% block content %}
{% include 'content/menuHeader.njk' %}
<header>
  <div id="siteName">KOHLCASH</div>
  <div id="solved"></div>
</header>
<div id="subpageWrapper">
  <h2>Bypass</h2>
  <div>
    <p><span id="indicatorValidBypass">You have a valid block bypass.</span></p>
    <div id="indicatorNotValidated">
      <form id="renewForm" action="/renewBypass.js" enctype="multipart/form-data" method="post">
        <div class="captchaDiv">
          <img class="captchaImage" id="captchaImage" src="/captcha.js" alt="">
          <br>
          <span class="captchaTimer"></span>
          <br>
          <input name="captcha" type="text" class="bypassField captchaField" id="fieldCaptcha" placeholder="Answer" autocomplete="off">
          <br>
          <p id="labelBypass"></p>
          <br>
          <button type="submit" id="bypassFormButton">Renew block bypass</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/bypass.js') }}
{{ script('/.static/js/captchaUtils.js') }}
{% endblock %}
