{% extends "./base.njk" %}

{% block topRightBar %}
{% include 'navbars/rightBarCatalog.njk' %}
{% endblock %}

{% block content %}
{% include './content/boardHeaderCatalog.njk' %}
<div id="postingForm">
  <button id="togglePosting" class="hidden">Post thread</button>
  <h2>{{ lang.modeThread }}</h2>
  <form action="/newThread.js" enctype="multipart/form-data" method="post">
    {% include './content/postingForm.njk' %}
  </form>
</div>
<div id="divTools" class="hiddenVisibility">
  <input type="text" id="catalogSearchField" placeholder="{{ lang.search }}">
  <select id="catalogOrderBySelection" size="1">
    <option value="bumpOrder">{{ lang.bumpOrder }}</option>
    <option value="creationDate">{{ lang.creationDate }}</option>
    <option value="postCount">{{ lang.postCount }}</option>
    <option value="fileCount">{{ lang.fileCount }}</option>
  </select>
  <button id="catalogRefreshButton" class="catalogLabel">{{ lang.refresh }}</button>
  <input type="checkbox" id="autoCatalogRefreshCheckBox">
  <span class="catalogLabel" id="catalogRefreshLabel">
    <label for="autoCatalogRefreshCheckBox">Auto</label>
  </span>
</div>
<hr>
<div id="divThreads" class="catalogDiv"></div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/crypto.js') }}
{{ script('/.static/js/board.js') }}
{{ script('/.static/js/postCommon.js') }}
{{ script('/.static/js/captchaModal.js') }}
{{ script('/.static/js/thumbs.js') }}
{{ script('/.static/js/preview.js') }}
{{ script('/.static/js/captchaUtils.js') }}
{{ script('/.static/js/hiding.js') }}
{{ script('/.static/js/catalog.js') }}
{% endblock %}
