{% extends "./base.njk" %}

{% block content %}
<header>
  <h1>Global Management</h1>
</header>
<div class="mCard">
  <h2>Links</h2>
  <div class="mLinks">
    <a href="/openReports.js">Open reports (<span id="openReportsLabel"></span>)</a>
    <a href="/appealedBans.js">Appealed bans (<span id="appealedBansLabel"></span>)</a>
    <a href="/trashBin.js">Trash Bin (<span id="trashBinLabel"></span>)</a>
    <a href="/closedReports.js">Closed reports</a>
    <a id="globalSettingsLink" href="/globalSettings.js">Global settings</a>
    <a id="globalFiltersLink" href="/filterManagement.js">Global filters</a>
    <a id="socketLink" href="/socketControl.js">Unix socket</a>
    <a id="languagesLink" href="/languages.js">Alternative languages</a>
    <a id="accountsLink" href="/accounts.js">Manage user accounts</a>
    <a id="globalBannersLink" href="/bannerManagement.js">Global banners</a>
    <a id="bansLink" href="/bans.js">Bans</a>
    <a id="rangeBansLink" href="/rangeBans.js">Range bans</a>
    <a id="asnBansLink" href="/asnBans.js">ASN bans</a>
    <a id="hashBansLink" href="/hashBans.js">Hash bans</a>
    <a href="/mediaManagement.js">Media management</a>
    <a id="customThumbsLink" href="/customThumbs.js">Custom thumbs</a>
  </div>
</div>
<div id="addStaffForm" class="mCard labelTable">
  <h2>Staff management</h2>
  <div>
    <form method="post" enctype="multipart/form-data" action="/setGlobalRole.js">
      <label>
        <input type="text" name="login" class="addUserField" id="fieldLogin" placeholder="Username">
        <select name="role" id="newStaffCombo"></select>
        <button type="submit" id="addFormButton">Add</button>
      </label>
    </form>
    <div id="divStaff">Global staff</div>
  </div>
</div>
<div id="massBanPanel" class="mCard labelTable">
  <h2>Mass bans</h2>
  <div>
    <form method="post" action="/massBan.js" enctype="multipart/form-data">
      <label>
        IP addresses:
        <input type="text" name="ips" class="massBanField" id="fieldIps" placeholder="Separated by commas">
      </label>
      <label>
        Ban duration:
        <input type="text" name="duration" class="massBanField" id="fieldDuration">
      </label>
      <label>
        Ban reason:
        <input type="text" class="massBanField" name="reason" id="fieldReason">
      </label>
      <label>
        <button type="submit" id="massBanFormButton">Ban</button>
      </label>
    </form>
  </div>
</div>
<div id="purgeBypassesForm" class="mCard labelTable">
  <h2>Purge Bypasses</h2>
  <div>
    <form method="post" enctype="multipart/form-data" action="/purgeBypasses.js">
      <label>
        <input type="checkbox" class="purgeField" id="checkboxPurgeUnused" name="unused">
        Only purge unused
      </label>
      <label>
        <input type="number" class="purgeField" id="fieldPurgeLimit" name="timeLimit">
        Do not purge bypasses older than this many hours.
      </label>
      <label>
        <input class="purgeField" type="checkbox" id="checkboxPurgeConfirm" name="confirmation">
        Yes, I am sure I want to purge block bypasses.
      </label>
      <button id="purgeBypassesButton" type="submit">Purge block bypasses</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/globalManagement.js') }}
{{ script('/.static/js/bans.js') }}
{% endblock %}
