{% extends "./base.njk" %}

{% block content %}
{% include './content/menuHeader.njk' %}
<div id="subpageWrapper">
  <h2>Graphs</h2>
  <div>
    <form method="get" action="graphs.js">
      <label>
        Year: <input type="text" name="year" placeholder="YYYY">
      </label>
      <input type="submit" value="Search">
    </form>
    <hr>
    <div id="divDates" class="linkList"></div>
  </div>
</div>
{% endblock %}
