{% extends "base.njk" %}

{% block content %}
<div id="settingsWrapper">
  <fieldset id="settingsFieldset">
    <legend>Hash Banned File</legend>
    <p>You tried to upload one or more banned files</p>
    <div id="hashBansPanel"></div>
  </fieldset>
</div>
{% endblock %}
