{% extends "./base.njk" %}

{% block topRightBar %}
{% include './navbars/rightBarHome.njk' %}
{% endblock %}

{% block content %}
{% include './content/menuHeaderFront.njk' %}
<div id="subpageWrapper">
  {% include './content/news.njk' %}
  <h2>Stats</h2>
  <div id="divStats">
    <div>Total posts: <span id="labelTotalPosts"></span></div>
    <div>Posts in last hour: <span id="labelTotalPPH"></span></div>
    <div style="display: none;">Unique recent IPs: <span id="labelTotalIps"></span></div>
    <div style="display: none;">Total boards: <span id="labelTotalBoards"></span></div>
    <div>Media files stored: <span id="labelTotalFiles"></span></div>
    <div>Total media size: <span id="labelTotalSize"></span></div>
  </div>
  <h2 id="latestImagesHeading">{{ lang.latestImages }}</h2>
  <div id="divLatestImages"></div>
  <h2 id="latestPostsHeading">{{ lang.latestPosts }}</h2>
  <div id="divLatestPosts"></div>
  <div id="divBoards" style="display: none;"></div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/stats.js') }}
{% endblock %}
