{% extends "./base.njk" %}

{% block content %}
<header>
  <div id="siteName">KOHLCASH</div>
  <div id="solved"></div>
</header>
<form action="/addon.js/hashcash?action=solve" enctype="multipart/form-data" method="post">
  <div id="subpageWrapper">
    <h2 id="firstHeadline"></h2>
    <div id="firstDiv">
      <div id="firstText"></div>
      <a id="saveLink"></a>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/hashcash.js') }}
{% endblock %}
