{% extends "./base.njk" %}

{% block content %}
<header>
  <h1>Alternative languages</h1>
</header>
<div class="mCard">
  <h2>New Languages</h2>
  <div>
    <form class="mBody" action="/addLanguage.js" method="post" enctype="multipart/form-data">
      <input type="text" name="headerValues" class="newLanguageField" id="fieldHeaderValues" placeholder="header values*">
      <input type="text" name="frontEnd" class="newLanguageField" id="fieldFrontEnd" placeholder="front-end">
      <input type="text" class="newLanguageField" name="languagePack" id="fieldLanguagePack" placeholder="language pack">
      <br>
      <button type="submit" id="addFormButton">Add language</button>
      <br>
    </form>
  </div>
</div>
<div class="mCard">
  <h2>Existing Languages</h2>
  <div>
    <div id="languagesDiv"></div>
    <br>
    *: separate values by commas, spaces will be ignored (a, b,c)
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/languages.js') }}
{% endblock %}
