{% extends "./base.njk" %}

{% block content %}
{% include './content/menuHeader.njk' %}
<div id="subpageWrapper">
  <h2 id="labelBoard"></h2>
  <div>
    <div id="logSearch">
      <form method="get" action="logs.js">
        <label>
          Year
          <input type="text" name="year" placeholder="YYYY">
          <input type="hidden" name="boardUri" id="identifierBoard">
        </label>
        <input type="submit" value="Search">
      </form>
    </div>
    <hr>
    <div id="divDates" class="linkList"></div>
  </div>
</div>
{% endblock %}
