{% extends "./base.njk" %}

{% block content %}
<header id="logo"></header>
<div id="maint">
  <center>
    <p>The site is under maintenance and has all of its functionalities temporarily disabled.</p>
    <p>Please be patient.</p>
  </center>
</div>
{% endblock %}
