{% extends "./base.njk" %}

{% block content %}
<div id="settingsWrapper" class="mCard">
  <h2>Media Details</h2>
  <div>
    <p>Identifier: <span id="labelIdentifier"></span></p>
    <p>Size: <span id="labelSize"></span></p>
    <p>First uploaded at: <span id="labelUploadDate"></span></p>
    <h3>References</h3>
    <div id="panelReferences"></div>
  </div>
</div>
{% endblock %}
