{% extends "./base.njk" %}

{% block content %}
{% include './content/menuHeader.njk' %}
<div id="redirect">
  <h2 id="labelMessage"></h2>
  <div>
    <p>Click <a id="linkRedirect">here</a> to be redirected.</p>
  </div>
</div>
{% endblock %}
