{% extends "./base.njk" %}

{% block content %}
<header class="boardHeader">
  <img id="bannerImage" src="/randomBanner.js" alt=""><br>
</header>
<div id="threadList" class="boardThreadList">
  <form action="/contentActions.js" method="post" enctype="multipart/form-data">
    <div id="divThreads"></div>
  </form>
</div>
<hr class="clearer">
{% include './content/moderationFields.njk' %}
{% endblock %}

{% block scripts %}
{{ script('/.static/js/polyfill.js') }}
{{ script('/.static/js/overboard.js') }}
{{ script('/.static/js/dynDel.js') }}
{{ script('/.static/js/preview.js') }}
{{ script('/.static/ruffle/ruffle.js') }}
{{ script('/.static/js/thumbs.js') }}
{{ script('/.static/js/tooltips.js') }}
{{ script('/.static/js/posting.js') }}
{{ script('/.static/js/expandComment.js') }}
{{ script('/.static/js/hiding.js') }}
{{ script('/.static/js/mediaHiding.js') }}
{{ script('/.static/js/board.js') }}
{{ script('/.static/js/captchaUtils.js') }}
{{ script('/.static/js/postingMenu.js') }}
{{ script('/.static/js/captchaModal.js') }}
{% endblock %}
