{% extends "./base.njk" %}

{% block content %}
<header>
  <h1>Unix socket management</h1>
</header>
<div class="mCard">
  <h2>Socket Control</h2>
  <div>
    Status: <span id="statusLabel"></span>
    <form method="get" action="/restartSocket.js">
      <button type="submit" id="restartFormButton">Restart socket</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ script('/.static/js/socketControl.js') }}
{% endblock %}
