<table>
  <tbody>
    <tr>
      <th>SHA256</th>
      <td class="hashLabel"></td>
    </tr>
    <tr>
      <th>Reason</th>
      <td class="reasonLabel"></td>
    </tr>
    <tr>
      <th>Date</th>
      <td class="dateLabel"></td>
    </tr>
    <tr>
      <th>Applied by</th>
      <td class="userLabel"></td>
    </tr>
    <tr>
      <th>Action</th>
      <td>
        <button type="submit" class="liftFormButton">Lift hash ban</button>
      </td>
    </tr>
  </tbody>
</table>
<input type="hidden" class="idIdentifier" name="hashBanId">
<hr>
