<div class="selectionDiv">
  <label><input type="checkbox" class="closureCheckbox"> Select</label>
  <a class="link brackets">Moderate</a>
</div>
<div class="postingDiv"></div>
<br>
<table class="modInfo">
  <tbody>
    <tr class="hidden">
      <th>Board</th>
      <td class="boardLabel"></td>
    </tr>
    <tr>
      <th>Reports</th>
      <td class="totalLabel"></td>
    </tr>
    <tr class="categoryDiv">
      <th>Category</th>
      <td class="categoryLabel"></td>
    </tr>
    <tr class="reasonDiv">
      <th>Reason</th>
      <td class="reasonLabel"></td>
    </tr>
  </tbody>
</table>
<hr>
