<input type="text" name="rule" class="textField"></input>
<input type="hidden" name="ruleIndex" class="indexIdentifier">
<input type="hidden" name="boardUri" class="boardIdentifier">
<button type="edit" class="editFormButton">Edit</button>
<button type="submit" class="deleteFormButton">Delete</button>
<hr>
