<div class="uploadDetails">
  <a class="originalNameLink"></a><br>
  <a class="nameLink" target="_blank">{{ lang.openFile }}</a>
  <span class="sizeLabel"></span>,
  <span class="dimensionLabel"></span>
  <a class="editInOekaki" style="display:none">Edit</a>
  <a class="unlinkLink brackets">U</a>
  <a class="unlinkAndDeleteLink brackets">D</a>
  <div style="display:none" class="divHash">
    <span>SHA256: <span class="labelHash"></span></span>
  </div>
</div>
<a class="imgLink" target="_blank"></a>
