<div id="footer">
	<div class='footerDisclaimer'>
		All trademarks and copyrights on this page are owned by their respective parties. Images uploaded are the responsibility of the Poster. Comments are owned by the Poster.
    </div>
    <a href="/.static/pages/about.html">About</a>
    •
    <a href="/.static/pages/globalRules.html">Rules</a>
    •
    <a href="/.static/pages/legal.html">Legal</a>
    •
    <a href="/.static/pages/contact.html">Contact</a>
    •
    <a href="/.static/pages/donate.html">Donate</a>
	<br>
</div>
