<span id="navLinkSpan"> <span>[</span> <a
    href="/"
    class="coloredIcon"
    title="Home"
    id="navLinkHome"></a> <span>/</span> <a
    href="/boards.js"
    class="coloredIcon"
    title="Boards"
    id="navBoardList"></a> <span>/</span> <a
    href="/overboard"
    class="coloredIcon"
    title="Overboard"
    id="linkOverboard"></a> <span>/</span> <a
    href="/sfw"
    class="coloredIcon"
    title="SFW Overboard"
    id="linkSfwOver"></a> <span>/</span> <a
    href="/.static/pages/posting.html"
    class="coloredIcon"
    title="Posting"
    id="navPosting"></a> <span>/</span> <a
    class="coloredIcon"
    title="You need JavaScript enabled to use this feature"
    id="settingsButton"></a> <span>/</span> <a
    class="coloredIcon"
    title="You need JavaScript enabled to use this feature"
    id="watcherButton"></a> <span>/</span> <a
    href="/account.js"
    class="coloredIcon"
    title="User Account"
    id="navMod"></a> <span>]</span>
</span>
<span id="navTopBoardsSpan"> </span>
<span id="navBoardsSpan"> </span>
<span id="navOptionsSpan"> <span>[</span> <a
	class="coloredIcon"
	title="Logs"
	id="linkLogs"></a> <span>/</span> <a
	href="#"
	class="coloredIcon"
	title="Top"
	id="linkTop"></a> <span>/</span> <a
	href="#footer"
	class="coloredIcon"
	title="Bottom"
	id="linkBottom"></a> <span>/</span> <a
	href="catalog.html"
	class="coloredIcon"
	title="Catalog"
	id="navCatalog"></a> <span>/</span> <a
	href="index.rss"
	class="coloredIcon"
	title="RSS"
	id="linkRss"></a> <span>]</span>
</span>
