/* Moe OS 9 theme - Beta to Final Version */
/* 'Don't think different, think better (Or some other clever pun.)' */
@import "./syntax/foundation-modified.css";

@font-face {
    font-family: osaka_unicode;
    src: url('fonts/osaka_unicode.ttf');
}

:root {
    --background-highlight-color: white;

    --contrast-color: #A9ADFF;
    --marked-color: #E4E4E4;
    --marked-border-color: black;
    --link-hover-color: #A9ADFF;

    --navbar-text-color: #000;
    --table-every-other-color: #e1e1e1;

    --thread-navbar-background: transparent;

    --subject-color: blueviolet;

    --logo-image: url("/.static/logo/logo_retro.png");

    scrollbar-color: #6E6EB7 #ACADAC; /* doesn't work on FF */
}

body {
    background-color: purple;
    background-image: url('../moeos_background.png');
    background-repeat: repeat;
    font-family: osaka_unicode;
}

footer {
    text-align: center;
    font-size: 65%;
}

.footerDisclaimer {
    color: white;
}

nav {
    background-color: #E4E4E4;
    border-bottom: 1px solid #000;
    text-align: left;
    font-size: 65%;
}

nav span, nav a {
  display: inline-block;
  text-decoration: none;
/*  margin: 0 0.2em; */
  color: black;
}

.small {
    font-size: 75%;
    text-decoration: none;
    color: white;
}

a.small {
    color: purple;
}

#divMessage a, #linkManagement,
.showFormDetails summary,
#linkMod, #linkModeration, #footer a,
.boardHeader a, .innerUtility.top a,
.threadBottom a, a.rules::after {
    color: white;
}

hr {
    border-top-width: 2px;
}

a:hover, .glowOnHover:hover {
    text-shadow: 1px 1px black;
}

input[type="button"], input[type="submit"], button{
    border-style: double;
    background: #E3E4E3;
}

.dragAndDropThumb {
    max-height: 100px;
    max-width: 85px;
    border: 1px solid black;
}

td a {
    color: purple;
} 

#postingForm a {
    color: pink;
}

#postingForm td, .modalTableBody td {
  text-align: left;
  color: white;
}

.divPages {
    background: whitesmoke;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 1px solid black;
    color: black;
}

.divRefresh label, .divRefresh input {
    font-size: 80%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: white;
}

.sideCatalogMarkedCell {
    background: #FFFFFD;
    border-left: 2px solid black;
    border-right: 4px solid black;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
}

#bannerImage {
    border: 3px double #000;
    background: #DDDDDD;
}

.boardHeader p#labelName, #overboardId {
    background: #D6D7FF;
    color: black;
    border-top: 2px solid black;
    border-bottom: 3px solid black;
    border-left: 2px solid black;
    border-right: 3px solid black;
}

.boardHeader p#labelDescription {
    font-size: 100%;
    color: white;
}

#favoriteButton {
    color: yellow;
}

.threadBottom {
    color: white;
}

.innerUtility {
    margin-top: 0;
    font-size: 85%;
    color: white;
}

.innerUtility.top {
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 2px;
}

#dynamicAnnouncement {
    color: black;
    background: #D6D7FF;
    border: 1px solid black;
}

.uploadCell img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
}

.originalNameLink {
    display: inline-block;
    vertical-align: top;
    max-width: 155px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: purple;
}

.innerOP {
    background: white;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
    resize: both;
    overflow: auto;
}

.floatingList,
.floatingMenu,
#quick-reply table,
.modalDecorationPanel {
    background: #DDDDDD;
    color: black;
    border-top: 2px solid black;
    border-bottom: 4px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
}

:hover .floatingList {
    text-shadow: none;
}

.innerPost,
.sideCatalogCell,
.sideCatalogMarkedCell,
.divPages {
    background: #FFFFFD;
    border-top: 2px solid black;
    border-bottom: 5px solid black;
    border-left: 2px solid black;
    border-right: 4px solid black;
}

.redText {
    color: #AF0A0F;
    font-weight: bold;
    font-size: 125%;
}

.titleWrapper .titleFieldset {
    /* background: var(--contrast-color);    Bye blue */
    background: #EEE; /* Hello grey */
    color: var(--index-text-color);
}

.captchaTimer {
    font-size: 80%;
    color: whitesmoke;
}

.topBoards a {
    background: #D4D4E2;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.catalogCell {
    background: white;
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 1px solid black;
    border-right: 2px solid black;
}

.linkThumb img {
    max-height: 128px;
    max-width: 128px;
    border: 1px solid black;
}
