

:root {
	--background-color: #1D1F21;
	--background-gradient: #eef2ff;
	--text-color: #ACACAC;
	--contrast-color: #282A2E;
	--menu-color: #1d1f21;
	--horizon-sep-color: #117743;
	--border-color: #117743;

	--marked-color: rgba(59, 22, 43, 0.4);
	--marked-border-color: #ba9dbf;
    --marked-text-color: var(--text-color);

	--board-title-color: #663E11;


	--link-color: #FFB300;
	--link-hover-color: #d00;

	--navbar-text-color: #B0790A;
	--table-every-other-color: var(--contrast-color);
	--sfw-indicator-color: navy;
	--subject-color: #34ED3A;
    --role-color: #ff0000;

	--thread-navbar-background: inherit;
	--thread-navbar-color: inherit;

	--logo-image: url("/.static/logo/logo_black_yellow.png");

	--penumbra-input-bg: #282A2E;
	--penumbra-input-text: #ACACAC;
	--penumbra-button-color: #16171A;
}

/* body styles, inherited by whole page */
body {
  font-family: 'Hack', monospace, sans-serif;
  background: var(--background-color);
  background-image: none;
}

footer {
  margin: 3em 0px 2em 0px;
}

nav {
  background-color: #151515;
  font-size: 65%;
}

nav .coloredIcon:after {
  display: inherit;
}

#divLatestPosts .latestPostCell, .sideCatalogCell,
  .markedPost, .sideCatalogMarkedCell, .catalogCell {
  border: 1px solid #117743;
}

#newPostFieldset, #quick-reply table, .modalDecorationPanel,
  .floatingMenu, .titleFieldset, .reportFieldset {
  border: 1px dashed #117743;
}

.floatingList ul li:hover,
a:hover, .glowOnHover:hover {
  text-shadow: 0px 0px 5px #117743;
}

.floatingMenu ul li {
  border-style: dashed;
  border-color: #117743;
}

.floatingList {
  border-style: dashed;
}

.floatingList ul li {
  border-bottom: 1px dashed #117743;
}

.floatingMenu {
  color: #ACACAC;
  font-weight: normal;
  text-shadow: none;
}

input[type=text], input[type=password], input[type=number], input[type=url],
select, textarea {
  border: 1px double #07371F;
  background: var(--penumbra-input-bg);
  color: var(--penumbra-input-text);
  border-radius: 5px;
  font-family: 'Hack', monospace, sans-serif;
  font-size: 80%;
}

input[type=button], input[type=submit], button, .dropzone, .selectedCell
{
  border: 3px double #07371F;
  border-radius: 5px;
  background: var(--penumbra-button-color);
  padding-left: 0.25em;
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

fieldset legend, .titleFieldset legend, .reportFieldset legend {
  margin: inherit;
  padding: initial;
  -moz-padding-end: inherit;
  -moz-margin-start: inherit;
  background: inherit;
  border: none;
  width: fit-content;
  font-weight: inherit;
  font-size: inherit;
}

#newPostFieldset legend {
  width: fit-content;
  padding: 0 4px;
}

#postingForm th, .modalTableBody th {
  border-radius: 5px;
}

/* TODO */
#postingForm th, .modalTableBody th {
  border: 1px solid #117743;
  background: #282A2E;
}

#postingForm input:focus, #postingForm textarea:focus,
  .modalDecorationPanel input[type='text']:focus, #settingsMenu input[type='text']:focus,
  #settingsMenu textarea:focus {
  box-shadow: 0px 0px 5px 2px #117743;
}


#postingForm label {
  font-size: 80%;
  display: block;
  clear: both;
}

#postingForm button:active {
  box-shadow: 0px 0px 5px #117743;
}

input[type=checkbox].postingCheckbox {
  display: none;
}

input[type=checkbox].postingCheckbox+label:before {
  font-family: Icons;
  content: "\e0db";
  margin-right: 0.5em;
  color: #117743;
  display: inline-block;
  cursor: pointer;
}

input[type=checkbox].postingCheckbox:checked+label:before {
  content: "\e033";
}

.innerPost {
  border-top-width: 1px;
  border-left-width: 1px;
}

.pinkText {
  color: #ff28fb;
}

.panelBacklinks a,
.quoteLink {
  color: #AA0000;
  text-decoration: none;
}

.noEmailName:hover {
  text-shadow: none;
}

.labelRole {
  color: #ff0000;
}

.labelRole:before {
  color: purple;
}

.unhideButton, .embedButton {
  font-size: 80%;
}

.title, .unhideButton {
  font-weight: bold;
}



.innerUtility.top {
  font-weight: normal;
  padding-top: 0;
  padding-bottom: 0;
}

.innerUtility.top a {
  color: var(--link-color);
}

#selectedTab {
  text-shadow: 0px 0px 5px #117743;
}

#boardContentLinks {
  font-size: 80%;
}

.banners {
  margin: 1em;
  width: auto;
  padding: 0.5em;
}

.subCaptchaDiv {
  text-align: left;
}

#dynamicAnnouncement {
  border-color: var(--horizon-sep-color);
}

#boardsWrapper #divBoards {
  display: inline-block;
  text-align: center; /*or something*/
}

#divPages {
  border: 1px solid var(--horizon-sep-color);
  background: var(--contrast-color);
}

#divPages a {
  color: var(--navbar-text-color);
}

.unhideButton {
  clear: left;
  display: block;
  font-weight: normal;
}

.topBoards a, #divLatestImages img, #divLatestPosts .latestPostCell,
  .innerPost, .sideCatalogCell, .sideCatalogMarkedCell,
  .catalogCell {
  border-radius: 5px;
}

/* begin index/static page */
.titleFieldset {
  background: var(--background-color);
}

#divStats {
  font-size: 75%;
  margin-bottom: 5px;
}

#divLatestPosts .latestPostCell {
  padding: 0.5em;
}

#divLatestImages img, #divLatestPosts .latestPostCell{
  border: none;
}

#divBoardsLegend {
  background: initial;
  border: none;
}
