/* Better than Civ V with the brave new world expansion pack */
@import "./syntax/atelier-cave-dark.css";
:root {
	--background-color: rgb(59, 67, 87);
	--background-gradient: var(--background-color);
	--text-color: #c5c8c6;
	--contrast-color: rgb(52, 60, 78);
	--menu-color: #333;
	--background-highlight-color: rgb(127, 140, 168);
	--horizon-sep-color: #474b53;
	--border-color: rgba(111, 111, 111, 0.339844);
	--marked-color: #2e2e3f;
	--marked-border-color: #111;

	--board-title-color: inherit;
    --board-shadow-color: inherit;

	--link-color: #a266f1;
	--link-hover-color: #81a2be;

	--navbar-text-color: var(--horizon-sep-color);
	--table-every-other-color: var(--contrast-color);
	/*--button-color: #fed;*/
	--sfw-indicator-color: navy;
	--subject-color: rgb(15, 12, 93);

	--logo-image: url("/.static/logo/logo_purple_light.png");
}

nav {
	background-color: var(--contrast-color);
}

.quoteLink {
	color: #DD0000;
}

.catalogCell {
	background-color: rgba(182, 182, 182, 0.117188);
}

code {
    background-color: rgba(0,0,0,0.15);
}

#themeSelector {
  background-color: var(--background-color);
  border-color: var(--navbar-text-color);
}
