/* Yotsuba theme */
@import "./syntax/a11y-light.css";
:root {
	--background-color: #fed6af;
	--background-gradient: #ffe;
	--text-color: maroon;
	--contrast-color: #f0e0d6;
	--menu-color: #f0e0d6;
	--background-highlight-color: #fca;
	--horizon-sep-color: #d9bfb7;
	--border-color: #800;
	--marked-color: #f0c0b0;
	--marked-border-color: #d99f91;

	--board-title-color: maroon;
	--index-text-color: var(--text-color);
    /*--board-shadow-color: rgba(100,0,0,0.6);*/

	--link-color: #00e;
	--link-hover-color: #f00;

	--navbar-text-color: #b86;
	--table-every-other-color: #ede2d4;
	/*--button-color: #fed;*/
	--sfw-indicator-color: maroon;
	--subject-color: #cc1105;

	--logo-image: url("/.static/logo/logo_blue.png");
}

.panelBacklinks a {
  color: navy;
}

.pinkText {
  color: #f04d3a;
}
