/* Yotsuba b theme */
:root {
	--background-color: #d1d5ee;
	--background-gradient: #eef2ff;
	--text-color: black;
	--contrast-color: #d6daf0;
	--menu-color: #eef2ff;
	--background-highlight-color: #98e;
	--horizon-sep-color: #b7c5d9;
	--border-color: black;

	--marked-color: #d6bad0;
	--marked-border-color: #ba9dbf;
	--marked-text-color: var(--text-color);

	--board-title-color: #af0a0f;
	/* --index-text-color: #000333; /* DEPRECATED */
	/* --board-shadow-color: rgba(105,10,15,0.6); /* DEPRECATED */

	--link-color: #34345C;
	--link-hover-color: #d00;

	--navbar-text-color: #89a;
	--table-every-other-color: #e0e5f6;
	/* --button-color: #eceff6; /* DEPRECATED */
	--sfw-indicator-color: navy; /* DEPRECATED? */
	--subject-color: #0f0c5d;
    --role-color: purple;

	--thread-navbar-background: #E04000;
	--thread-navbar-color: aliceblue;

    --navbar-text-display: none; /*sets whether to display text like "overboard" in the navbar*/
	--logo-image: url("/.static/logo/logo_blue.png");
}

.pinkText {
	color: #ff28fb;
}

