{
  "sitename": "Modchan",
  "links": {
    "clearnet": [
      {
        "url": "https://imageboard.net",
        "description": "primary address"
      }
    ],
    "onion": [
      {
        "type": "v3",
        "url": "http://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.onion",
        "description": "onion v3 address"
      }
    ],
    "git": [
      {
        "name": "LynxChan",
        "url": "https://gitgud.io/LynxChan/LynxChan",
        "description": "The repository for the imageboard engine."
      },
      {
        "name": "KohlNumbra",
        "url": "https://gitgud.io/kohlchan-dev/KohlNumbra",
        "description": "The repository for this front-end."
      },
      {
        "name": "KC-Addon",
        "url": "https://gitgud.io/kohlchan-dev/lynxchanaddon-kc",
        "description": "The repository for KC features."
      }
    ],
    "status": [
      {
        "title": "Twitter",
        "url": "https://twitter.com/Israel"
      }
    ],
    "bunker": [
      {
        "title": "8kun/qresearch/",
        "url": "https://8kun.top/qresearch"
      }
    ]
  },
  "donation": [
    {
      "title": "Bitcoin (BTC)",
      "type": "cryptocurrency",
      "address": "bcxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
    }
  ],
  "contact": {
    "emails": [
      "admin@localhost"
    ],
    "irc": {
      "network": {
        "name": "Rizon",
        "displayName": "irc.rizon.net",
        "website": "https://rizon.net/",
        "connectionUrl": "ircs://irc.rizon.net:6697",
        "webchatUrl": "https://qchat.rizon.net/?channels=$board"
      },
      "channels": [
        {
          "title": "LynxChan",
          "name": "#lynxchan"
        }
      ]
    }
  },
  "settings": {},
  "navigation": {
    "categories": [
      {
        "name": "VIP",
        "boards": [
          {
            "uri": "b",
            "title": "RANDOM"
          },
          {
            "uri": "int",
            "title": "International"
          }
        ]
      }
    ]
  }
}
