.topBoards a, .innerPost, .markedPost, .floatingMenu {
  background: #92D17E;
}

.innerPost .panelUploads .uploadCell, .markedPost .panelUploads .uploadCell {
  background: #fff;
  border: #000 1px solid;
}

innerOP .panelUploads .uploadCell, #selectedDiv .selectedCell, #selectedDivQr .selectedCell {
  background: #fff;
  border: #000 1px solid;
}

#postingForm th, .modalTableBody th {
  background: #317055;
}
