/* Background Color from Media in OP */
#selectedDiv .selectedCell, #selectedDivQr .selectedCell, .innerOP .panelUploads .uploadCell {
  background-color: #eee;
  background-image: none;
  border-color: #eee;
}

/* Font Color from Media in OP */
.uploadDetails {
    color: #eee;
}

/* Label Color from Media in OP */
.dimensionLabel, .sizeLabel, .uploadDetails .linkDelete, .uploadDetails .linkHash, .uploadDetails .linkSpoil {
  font-size: 11px;
  font-style: italic;
  color: inherit;
  opacity: 0.0
}

/* Label Color from Media in OP */
.dimensionLabel:hover, .sizeLabel:hover {
    opacity: 1.0;
    color: rgb(0, 0, 0);
    transition: opacity .30s ease-in-out;
    -moz-transition: opacity .30s ease-in-out;
    -webkit-transition: opacity .30s ease-in-out;
}

/* Background Color from Media in Multi Uploads */
.postCell > div.innerPost > div.contentOverflow > div.panelUploads.multipleUploads > .uploadCell {
  background-color: #aac;
  background-image: none;
  border-color: #aac
}


/* Font Color from Media in Multi Uploads */
.postCell > div.innerPost > div.contentOverflow > div.panelUploads.multipleUploads > .uploadCell > div.uploadDetails {
    color: #aac
}

/* Labels from Media in Multi Uploads */
/* .postCell > div.innerPost > div.contentOverflow > div.panelUploads.multipleUploads > .uploadCell > div.uploadDetails > span.sizeLabel, .postCell > div.innerPost > div.contentOverflow > div.panelUploads.multipleUploads > .uploadCell > div.uploadDetails >  .dimensionLabel{
  font-size: 11px;
  font-style: italic;
  color: #aac
} */

/* Background Color from Media in Single Uploads */
.postCell > div.innerPost > div.contentOverflow > div.panelUploads > .uploadCell {
  background-color: #aac;
  background-image: none;
  border-color: #aac
}

/* Font Color from Media in Single Uploads */
.postCell > div.innerPost > div.contentOverflow > div.panelUploads > .uploadCell >  div.uploadDetails {
    color: #aac;

}

/* Labels from Media in Single Uploads */
/* .postCell > div.innerPost > div.contentOverflow > div.panelUploads > .uploadCell >  div.uploadDetails > .dimensionLabel, .postCell > div.innerPost > div.contentOverflow > div.panelUploads > .uploadCell >  div.uploadDetails > .sizeLabel{
  font-size: 11px;
  font-style: italic;
  color: #aac
} */


/* Remove some elements */
.labelCreated {
    display: none;
}

#rules_row {
    display: none;
}

.divPosts .postCell .innerPost::before, .divPosts .postCell .markedPost::before {
    content: "";
}

div#postingForm > form > table#postingTable > tbody > tr > th {
    display: none;
}

.divPages {
  border-style: none;
}

#linkNext, #linkPrevious, #pages, .divPages .navCatalog {
  border-style: none;
}

#divPages {
  border-style: none;
}

/* Hide originalName link and break line */
div.uploadDetails > br, .originalNameLink {
    display: none;
}

/* Hide upload details in tooltips */
div.quoteTooltip.boardThreadList > div.innerPost > div.contentOverflow > div.panelUploads > figure.uploadCell > div.uploadDetails, div.quoteTooltip.boardThreadListtooltipFix > div.innerPost > div.panelUploads.multipleUploads > figure.uploadCell > div.uploadDetails, div.quoteTooltip.boardThreadListtooltipFix > div.innerPost > div.panelUploads > figure.uploadCell > div.uploadDetails {
    display: none;
}

.deletionCheckBox {
  opacity: 0.0;
}

.deletionCheckBox:hover {
  opacity: 1.0 !important;
  transition: opacity .30s ease-in-out;
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}
