.theme_tomorrow {
  background:#1d1f21 none;
  color:#C5C8C6;
  font-family: arial,helvetica,sans-serif;
  @import 'tomorrow';
}

.theme_christmas_tomorrow {
  background:#1d1f21 none;
  color:#C5C8C6;
  font-family: arial,helvetica,sans-serif;
  @import 'christmas_tomorrow';
}

.theme_hadmut {
  background: #f8f8f8 !important;
  @import 'hadmut';
}

.theme_green {
  @import 'green';
}

.theme_minimal {
  @import 'minimal';
}

.theme_darkreader {
  background: rgb(34, 36, 38);
  color: #e8e6e3;
  @import 'darkreader';
}

.theme_darkreader_minimal {
  background: rgb(34, 36, 38);
  color: #e8e6e3;
  @import 'darkreader_minimal';
}

.theme_yotsubaB {
  font-family: arial, helvetica, sans-serif;
  background:#eef2ff url(/.static/images/7pornw.png) /* Couldn't host it here -- source: https://s.4cdn.org/image/fade-blue.png */ top center repeat-x !important;
  font-size: 10pt !important;
  @import 'yotsubaB';
}
