.catalogHeader .medals {
  float: left;
}

.medals .text {
  position: absolute;
  visibility: hidden;
  text-align: center;
  background-color: #313370;
  border-radius: 5px;
  padding: 5px 15px;
  z-index: 1;
  margin-left: 5px;
  color: #ffffff;
  opacity: 0.0;
}

.medals:hover .text {
  visibility: visible;
  transition: all 0.25s ease-in-out;
  opacity: 1.0;
}
