/*Used for places where posts are displayed*/

@media only screen and (max-width: 479px) {
  .divPosts .postCell .innerPost:before,
  .divPosts .postCell .markedPost:before {
    display: none;
  }

  .divPosts {
    margin-left: 0 !important;
  }

  .postCell {
    margin: 0px !important;
  }

  .innerPost, .markedPost {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3px;
    padding: 3px;
  }

  .divBanMessage,
  .divMessage {
    margin: 0px;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    word-break: break-word;
  }

  .divMessage,
  .contentOverflow {
    clear: both;
  }

  .hideButton {
    margin-right: 5px;
  }

  .expandLabel,
  .collapseLabel {
    width: calc(100% - 24px) !important;
    padding-left: 20px !important;
  }

  .panelUploads ~ .divMessage,
  .panelUploads ~ .contentOverflow .divMessage {
    padding-top: 10px;
  }

  .labelCreated {
    font-size: 80%;
  }

  .relativeTime {
    font-size: 80%;
  }

  .sage, .bumpLockIndicator {
    float: right;
  }

  .innerPost .panelUploads .uploadCell,
  .markedPost .panelUploads .uploadCell
  {
    margin: 5px !important;
  }

  .innerOP .panelUploads .uploadCell,
  #selectedDiv .selectedCell,
  #selectedDivQr .selectedCell {
    margin: 5px !important;
  }

  // dirty fix
  .deletionCheckBox {
    visibility: hidden;
    margin-right: -19px;
  }

  .extraMenuButton {
    float: right;
  }

  .imgFlag {
    padding-left: 3px;
    float: left;
    padding-top: 3px;
  }

  .linkName {
    padding-left: 3px;
  }

  #divRefreshContainer {
    padding-left: 0;
    position: relative;
  }

  .extraMenu, .hideMenu {
    right: 100%;
    left: unset !important;
  }

  .boardThreadList .multipleUploads ~ .contentOverflow {
    max-height: 150px !important;
  }

}

.imgExpanded {
  max-width: 100%;
  cursor: zoom-out;
}

video {
  max-width: 100%;
  max-height: 90vh;
}

.imgLink {
  float: left;
  cursor: zoom-in;
}

.reportFieldset {
  margin-top: 1em;
  padding: 0.5em;
  margin-bottom: 1em;
}

.labelId {
  color: #ffffff;
  border-radius: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-left: 2px;
  opacity: 0.6;
  padding-right: 2px;
}

.labelId:hover {
  opacity: 1;
}

.quoteTooltip {
  position: absolute;
  display: none;
  padding: 0;
  z-index: 101;
}

.quoteTooltip .innerPost {
  padding: 5px;
}

.quoteTooltip > div {
  border: 2px dashed #444488;
  margin-left: 0em;
}

.quoteTooltip .contentOverflow {
  max-height: unset !important;
}

.tooltipFix .contentOverflow {
  overflow-y: hidden;
}

#formMore {
  cursor: pointer;
}

.extraMenu, .hideMenu {
  position: absolute;
  top: -5px;
  left: 100%;
  margin-left: 5px;
  z-index: 2;
  font-weight: normal;
  white-space: nowrap;
  cursor: default;
  border: 2px solid #444488;
}

.hideMenu div, .extraMenu div {
  cursor: pointer;
  padding: 3px 6px;
}

.extraMenu a {
  text-decoration: none;
  color: #000;
}

.extraMenu div:hover {
  background: #dddddd;
}

.extraMenuButton, .hideButton {
  position: relative;
}

.divPosts {
  margin-left: -1.28em;
}

.postCell {
  margin-top: 4px;
  margin-left: 1.3em;
  margin-bottom: 4px;
  margin-right: 1.3em;
}

.linkName {
  font-weight: bold;
  color: $linkName_color;
}

.linkName:hover {
  color: $linkName_hoverColor;
}

.sage,
.bumpLockIndicator {
  color: $sage_color;
  font-weight: bold;
}

.noEmailName, .noEmailName:hover {
  color: $noEmailName_color;
  text-shadow: none;
  text-decoration: none !important;
  cursor: auto;
}

.linkSelf {
  color: $linkSelf_color !important;
  text-decoration: none;
}

.linkSelf:hover {
  color: $linkSelf_hoverColor !important;
  font-weight: bold;
}

.linkQuote {
  color: $linkQuote_color !important;
  text-decoration: none;
}

.linkQuote:hover {
  color: $linkQuote_hoverColor !important;
  font-weight: bold;
}

.postCounter #mainPanel {
  counter-reset: css-post-count;
}

.postCounter #mainPanel .linkQuote::after {
  counter-increment: css-post-count;
  content: " / (#" counter(css-post-count) ")";
}

.labelSubject {
  color: $labelSubject_color;
  font-size: large;
  font-weight: bold;
}

.labelRole {
  color: $role_color;
  font-weight: bold;
}

.labelRole:before {
  content: $role_beforeContent;
}

.labelRole:after {
  content: $role_afterContent;
}

.divMessage {
  margin: 1em 40px;
  text-align: left;
  white-space: pre-wrap;
  /* word-wrap: anywhere; Bad in Chrome!*/
}

.divBanMessage {
  color: $divBanMessage_color;
  font-weight: bold;
  margin: 0 auto 12px 40px;
  font-size: 100%;
}

.panelUploads{
  display: block;
}

.uploadCell {
  margin: 0.25em 1em 0.25em 0.5em;
  float: none;
}

.uploadCell img {
  float: left;
}

/*Change the dimensions if you wish for larger thumbs*/
.uploadCell img:not(.imgExpanded) {
  max-width: 200px;
  max-height: 200px;
}

/*
.multipleUploads {
  float: left;
  width: 100%;
}
*/

.multipleUploads .uploadCell:not(.expandedCell) {
  float: left;
}

.multipleUploads ~ .contentOverflow {
  clear: both;
}

.contentOverflow .multipleUploads ~ .divMessage {
  clear: both;
}

.originalNameLink {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}

.opCell {
  clear: left;
}

.panelBacklinks {
  word-wrap: break-word;
  margin-left: 0px;
}

.panelBacklinks a {
  margin-left: 0.5em;
  font-size: 80%;
  font-style: italic;
  display: inline-block;
}

.hideLink:before {
  content: url('/.static/images/button-close.gif');
  vertical-align: top;
  padding: 0 1px;
}

.aa {
  font-family: Mona, "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
  display: block !important;
  font-size: 12pt;
  line-height: 1.1;
}

.labelLastEdit {
  font-size: 80%;
  margin-top: 0.75em;
  margin-left: 0.75em;
}

.contentOmissionIndicator {
  margin: 1em 40px;
  color: #666666;
}

.labelOmission {
  color: #666666;
  margin-top: 0.5em;
  margin-left: 0.5em;
}

/*Board header*/
.boardHeader #favouriteButton {
  font-size: 200%;
}

.boardHeader a {
  display: inline-block;
}

.unhideButton {
  margin-right: 0.5em;
  display: inline-block;
}

/*Actions form*/
#divMessage {
  text-align: center;
}

.divPosts .postCell .innerPost:before,
.divPosts .postCell .markedPost:before {
  content: ">>";
  position: absolute;
  margin-left: -25px;
}

.nameLink {
  display: none;
}

#selectedDivQr > .selectedCell {
  margin: 5px 0 !important;
}

.innerOP .panelUploads .uploadCell,
#selectedDiv .selectedCell,
#selectedDivQr .selectedCell {
  float: left;
  margin: $uploadCell_margin;
  background: $opUploadCell_background;
  border: $opUploadCell_border;
  text-align: left;
}

.innerPost .panelUploads .uploadCell,
.markedPost .panelUploads .uploadCell
{
  float: left;
  margin: $uploadCell_margin;
  background: $postUploadCell_background;
  border: $postUploadCell_border;
  text-align: left;
  display: inline-block;
  width: auto;
}

.sizeLabel,
.dimensionLabel,
.uploadDetails .linkHash,
.uploadDetails .linkSpoil,
.uploadDetails .linkDelete {
  font-size: 11px;
  font-style: italic;
}

.hiddenThread {
  clear: left;
  background: #ccccee;
  border: 2px solid #313370;
  padding: 3px;
}

span.post-you {
  font-size: 8pt;
}

.hideButton, .unhideButton, .iconReport {
  width: 15px;
  height: 15px;
}

.labelBroadRange,
.labelRealBroadRange {
  max-width: 6ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;
}

.labelNarrowRange,
.labelRealNarrowRange {
  max-width: 6ch;
  overflow: hidden;
  text-overflow: ellipsis;
  display: table-cell;
}

/* Thread view */
#mainPanel {

  .innerPost .contentOverflow,
  .markedPost .contentOverflow {
    max-height: 1400px;
    overflow-y: auto;
  }

  .innerPost .yOverflowHidden,
  .markedPost .yOverflowHidden {
    overflow-y: hidden;
  }

}

/* Board view */
.boardThreadList {

  .yOverflowHidden {
    overflow-y: hidden !important;
  }

  .innerPost .contentOverflow,
  .markedPost .contentOverflow,
  .innerOP .contentOverflow {
    max-height: 350px;
    overflow-y: hidden;
  }

}

.overflowUnset {
  overflow-y: unset;
  max-height: unset;
}

.innerPost .expandLabel,
.innerPost .collapseLabel,
.markedPost .expandLabel,
.markedPost .collapseLabel {
  background: #AAAACC;
}

.innerOP .expandLabel,
.innerOP .collapseLabel {
  background: $background;
}

.expandLabel,
.collapseLabel {
  position: absolute;
  vertical-align: middle;
  height: 25px;
  line-height: 25px;
  bottom: 0;
  width: calc(100% - 44px);
  z-index: 1;
  padding-left: 40px;
}

.bottomGradient {
  position: absolute;
  bottom: 25px;
  width: 100%;
  height: 8px;
}

.innerPost .bottomGradient {
  background: linear-gradient(transparent, #AAAACC);;
}

.innerOP .bottomGradient {
  background: linear-gradient(transparent, $background);;
}

.innerOP .collapseLabel:not(.hidden) ~ .bottomGradient,
input[type=checkbox].expandCheckBox:checked ~ .bottomGradient {
  display: none;
}

input[type=checkbox].expandCheckBox:checked ~ .contentOverflow {
  max-height: unset !important;
}

input[type=checkbox].expandCheckBox:checked ~ .contentOverflow.yOverflowHidden {
  padding-bottom: 25px;
}

code a {
  pointer-events: none;
}

.innerOP .panelUploads:not(.multipleUploads) ~ .contentOverflow .divMessage {
  margin-left: 0px;
}

.boardThreadList .innerOP .multipleUploads ~ .contentOverflow {
  max-height: 150px;
}

#mainPanel .innerOP .panelUploads:not(.multipleUploads) ~ .contentOverflow .divMessage {
  margin-left: 30px;
}

.innerOP .panelUploads:not(.multipleUploads) ~ .contentOverflow .expandLabel,
.innerOP .panelUploads:not(.multipleUploads) ~ .contentOverflow .collapseLabel {
  padding-left: 0px;
}

.katex:hover {
  padding: 2px;
  outline: grey solid 2px;
}

.katex:hover:after {
  content: " (TeX)";
}
