@media only screen and (max-width: 479px) {

  #settingsMenu {
    left: 0px !important;
    top: 0px !important;
    width: 100%;
    height: 100%;
  }

  #menuContentPanel {
    height: 99%;
  }

}

#settingsMenu {
  position: fixed;
  left: 100px;
  top: 25px;
  z-index: 100;
  border: 1px solid rgb(49, 51, 112);
}

#settingsMenu>.header {
  background: #313370;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding: 5px;
}


#settingsMenu > hr {
  display: none;
}

#settingsMenu > div {
  padding: 5px;
}

#settingsMenu > div:nth-child(3) {
  border-left: 4px solid #aac;
  background: $background;
  border-right: 4px solid #aac;
  border-top: 4px solid #aac;
}

#settingsMenu > div:nth-child(4) {
  border-left: 4px solid #aac;
  background: $background;
  border-bottom: 4px solid #aac;
  border-right: 4px solid #aac;
}

#closeSettingsMenuButton {
  float: right;
}

#cssInput, #jsInput {
  width: 24em;
  height: 12em;
}

#closeSettingsMenuButton::before, .filterDeleteButton::before,
#closeSideCatalogButton::before {
  content: 'X';
  font-weight: bolder;
}

.settingsTab {
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
}

#settingsMenuContent {
  padding: 0.25em
}

#newFilterPanel * {
  margin: 0.5em
}

#labelExistingFilfterType, .existingFilterTypeLabel {
  display: inline-block;
  width: 20%;
}

#labelExistingFilfterContent, .existingFilterContentLabel {
  width: 75%;
  display: inline-block;
}

#existingFiltersPanel {
  overflow: hidden;
  overflow-y: auto;
  height: 20em;
}

#selectedTab {
  font-weight: bold;
}

.settingsCheckbox {
  vertical-align: middle;
}

.saveButton {
  margin: 0.5em 0;
  width: 100%;
}

.mainPanel {
}

.mainPanelSubContainer {
  max-height: calc(100vh - 125px);
  overflow-y: auto;
}
